





/* Navbar section + <h> tags */

/* .nav {
    width: 70%;
    height: 225px;
} */

/* .nav div.logo {
    float: center;
    width: auto;
    display: inline;
    height: auto;
    padding-left: 15rem;
} */

/* .nav div.logo a {
    text-decoration: 
    color: #fff;
    font-size: 2.5rem;
} */
/* .logo {
  display: flex;
  justify-content: center;
} */

/* .nav div.main_list {
    height: 45px;
    float: upp;
    display: flex;
    justify-content: right;
}

.nav div.main_list ul {
    width: 100%;
    height: 15px;
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav div.main_list ul li {
    width: auto;
    height: 5px;
    padding: 0;
    padding-right: 3rem;
}

.nav div.main_list ul li a {
    text-decoration: none;
    color: rgb(137, 9, 241);
    line-height: 65px;
    font-size: 1.4rem;
} */

/* .nav div.main_list ul li a:hover {
  color: rgb(225, 230, 169);}
 */

 .nav img { 

  position: absolute;
  top: 58%;
  left: 50%;
  transform: translate(-50%, -50%);
}  
 
.nav:hover img { 
} 
 
body {
  margin: 0;
  font-family: 
    'Lobster', 'Bold';
  
}

/* .heading {
  position: absolute;
  text-align: center;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  
} */
.heading h1 {
  letter-spacing: 0.3rem;
  font-size: 180px;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-image: url('stars.jpeg' );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; 
}
.heading h3 {
  color: rgba(249, 255, 189, 0.244);
  font-size: 50px;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);

}
#particles-js {
  background: rgb(0, 0, 0);
  height:100vh;
}



 
